## Analyse Exploratoire des données

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns  
import os

In [9]:
path = os.getcwd()
#chemin = os.path.join(path, '../Données')
chemin_dossier = os.path.abspath(os.path.join(path, '../Données'))
print(chemin_dossier)

c:\Users\NAZIFOU\Business-analytics-Dashboard\Données

In [12]:
chemin_donnee = os.path.join(chemin_dossier, 'customers.csv')
# print(chemin_donnee)
df = pd.read_csv(chemin_donnee)
df.head()

,EEID,FullName,JobTitle,Department,BusinessUnit,Gender,Ethnicity,Age,HireDate,AnnualSalary,Bonus,Country,City,id
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,141604,0.15,United States,Seattle,1
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,99975,0.00,China,Chongqing,2
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,163099,0.20,United States,Chicago,3
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,84913,0.07,United States,Chicago,4
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,95409,0.00,United States,Phoenix,5

In [ ]:
df.columns

Index(['EEID', 'FullName', 'JobTitle', 'Department', 'BusinessUnit', 'Gender',
       'Ethnicity', 'Age', 'HireDate', 'AnnualSalary', 'Bonus', 'Country',
       'City', 'id'],
      dtype='object')